:root {
	--primary-text-color: #757575;
	--title-color: #FFFFFF;
	--sutitle-text-color:#212121;
	--accent-color:#2196F3;
	--secondary-color:#000000;
	--secondary-btn-color: #F5F4FA;
  	--primary-background: #F5F4FA;
  	--accent-background: #2f303a;
}
body {
	font-family: 'Roboto', sans-serif;
	color: var(--primary-text-color);	
	background-color: var(--primary-background);
	font-size: 14px;}
	
a:hover,:focus {
	color: var(--accent-color);
}


.logo,.logo-footer, .contacts-email, .contacts-phone-number,.menu-link.link,.menu-link.current,.list-images{
	text-decoration: none;
}

.menu-item,.contacts-list,.features-list,.list-btn,.list-examples,.work-list,.team-list {
	list-style-type:none;
}
.features-title,.section-title,.list-title,.team-title {
	color: var(--sutitle-text-color);}

.section-title{
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
}
.features-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
}
.list-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--sutitle-text-color);
}
.team-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	color: var(--sutitle-text-color);
}
.features-description, .team-description, .contacts-address, .list-description {
	font-weight: 400;
	color: var(--primary-text-color);
}
.features-description, .contacts-address {
	line-height: 1.7;
}

.team-description {
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
}
.list-description{
	font-size: 16px;
	line-height: 1.9;
}
.page-header {
	background-color: var(--title-color);
}

.logo,.logo-accent,.logo-footer {
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	color: var(--secondary-color);
}
.logo-accent {
	color: var(--accent-color);
}
.logo-footer {
	color: var(--title-color)};

.menu-item {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--sutitle-text-color);
}
.menu-link {
	color: var(--sutitle-text-color);
}
.menu-link .link {
	color: var(--sutitle-text-color);
}
.menu-link .current {
	color: var(--accent-color);
}


.contacts-list {
	color: var(--primary-text-color);
}
.hero {
	background-color: var(--accent-background);
}
.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--title-color);
}
.modal-btn,.secondary-btn {
	font-family: inherit;
	text-decoration: none;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	text-align: center;
	letter-spacing: 0.06em;
	cursor: pointer;
	border-radius: 4px;
	background-color: var(--accent-color) ;
	color: var(--title-color);
}
.section {
	background-color: var(--primary-background);
}
.team-list,.list-examples {
	background-color: var(--title-color);
}

.secondary-btn:hover,.secondary-btn:focus {
	background-color: var(--accent-color) ;
	color: var(--title-color);
}

.title {
	font-style: normal;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--sutitle-text-color);
}

.contacts-email {
	color: var(--primary-text-color);
}
.contacts-phone-number {
	color: var(--primary-text-color);
}
.contacts-address {
	color: var(--title-color);
}
.page-footer {
	background-color: var(--accent-background);
}




